# Common
README.md
CHANGELOG.md
docker-compose.yml
Dockerfile
.dockerignore

# git
.git
.gitattributes
.gitignore

# Editors
.idea
.vscode

# Node

## Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

## Dependency directories
node_modules/

# Envs
.env
.env.base
.env.proxy
.env.sample
.env.dev
.env.staging
.env.prod
.envrc

# Ignore
.github
.jest
.nyc_output
.run
.storybook
coverage
internal
out
.editorconfig
.eslintignore
.eslintrc.js
.prettierignore
.prettierrc
CONTRIBUTING.md
.tool-versions
.husky
dist
README.md

# Don't ignore
!public
!icon_templates
!src
!package.json
!pnpm-lock.yaml
!nginx.conf
!LICENSE
!sentry.properties
!vue.config.js
!tailwind.config.cjs
!tests
!cypress.json
!postcss.config.cjs
