# Ignore
.github
.idea
.jest
.nyc_output
.run
.storybook
.vscode
coverage
flow-typed
internal
out
.editorconfig
.env
.env.base
.env.proxy
.eslintignore
.eslintrc.js
.flowconfig
.gitattributes
.prettierignore
.prettierrc
.restyled.yaml
CONTRIBUTING.md
README.md
dev.Dockerfile
docker-compose.yml
yarn-error.log
.env.sample
.tool-versions
node_modules
.husky
dist
Dockerfile
.env.dev
.env.staging
.env.prod
.envrc
.dockerignore

# Don't ignore

!public
!icon_templates
!src
!package.json
!yarn.lock
!nginx.conf
!LICENSE
!sentry.properties
!template-compiler.js
!vue.config.js
!tailwind.config.js
!tests
!cypress.json
!postcss.config.js
!jest.config.js
!jsconfig.json
!babel.config.js
# for sentry plugin
!.gitignore
!.git
