#!/usr/bin/env bash

# Team Shared direnv.
# see:  https://github.com/direnv/direnv

# Enforces `set -euo pipefail` despite user local config.
strict_env

# forces "at least"
direnv_version 2.32.1

# User local additions.
source_env_if_exists .envrc.local

# Load rtx or asdf
if has rtx; then
    use rtx
elif has asdf; then
    log_status "rtx not found. Falling back to asdf."
	use asdf
else
    log_error "Neither rtx nor asdf are installed."
    log_error "For asdf: https://asdf-vm.com/"
    log_error "For rtx (asdf rust clone): https://github.com/jdxcode/rtx"
fi

layout node

# Docker
export COMPOSE_DOCKER_CLI_BUILD=1
export DOCKER_BUILDKIT=1

# Misc

## Required for https://github.com/webfansplz/vite-plugin-vue-inspector#--configuration-ide--editor
## Change in .envrc.local to editor of your choice
export VUE_EDITOR=${VUE_EDITOR:-webstorm}

