#!/usr/bin/env bash

# Team Shared direnv.
# See: https://github.com/direnv/direnv

# Enforces `set -euo pipefail` despite user local config.
strict_env

# forces "at least"
direnv_version 2.32.1

# User local additions.
source_env_if_exists .envrc.local

# Load rtx or asdf
if has rtx && has use_rtx; then
  use rtx
elif has asdf && has use_asdf; then
  log_status "rtx not found. Falling back to asdf."
  use asdf
else
  log_error "Neither rtx nor asdf are installed or integrated with direnv."
  log_error "For asdf: https://asdf-vm.com/"
  log_error "For rtx (asdf clone in rust): https://github.com/jdxcode/rtx"
fi

layout node

# Docker
export COMPOSE_DOCKER_CLI_BUILD=1
export DOCKER_BUILDKIT=1

# Required Env Vars for this project.

# You may add these env vars to `.env` file and vite will load it automatically
# See: https://vitejs.dev/guide/env-and-mode.html
# E.g. Vite will load `.env.staging` when run in staging mode
export VITE_APP_TITLE="${VITE_APP_TITLE:-Crisiscleanup}"
export VITE_APP_API_BASE_URL="${VITE_APP_API_BASE_URL:-}"
export VITE_APP_STAGE="${VITE_APP_STAGE:-}"
export VITE_APP_PORTAL_KEY="${VITE_APP_PORTAL_KEY:-}"
export VITE_APP_WHAT_3_WORDS_API_KEY="${VITE_APP_WHAT_3_WORDS_API_KEY:-}"
export VITE_APP_GOOGLE_MAPS_API_KEY="${VITE_APP_GOOGLE_MAPS_API_KEY:-}"
export VITE_APP_PITNEYBOWES_API_KEY="${VITE_APP_PITNEYBOWES_API_KEY:-}"
export VITE_APP_PITNEYBOWES_BASIC_AUTH_TOKEN="${VITE_APP_PITNEYBOWES_BASIC_AUTH_TOKEN:-}"
export VITE_APP_CRISISCLEANUP_WEB_CLIENT_ID="${VITE_APP_CRISISCLEANUP_WEB_CLIENT_ID:-}"

# Optional Env Vars

export VITE_APP_BASE_URL="${VITE_APP_BASE_URL:-https://app.dev.crisiscleanup.io}"

# ## CCP
export VITE_APP_CCP_URL="${VITE_APP_CCP_URL:-}"
export VITE_APP_WS_URL="${VITE_APP_WS_URL:-}"
export VITE_APP_AWS_CCP_REGION="${VITE_APP_AWS_CCP_REGION:-}"
export VITE_APP_CCP_PRINCIPAL="${VITE_APP_CCP_PRINCIPAL:-}"
export VITE_APP_CCP_ROLE="${VITE_APP_CCP_ROLE:-}"
export VITE_APP_CCP_INSTANCE="${VITE_APP_CCP_INSTANCE:-}"

# ## Required for https://github.com/webfansplz/vite-plugin-vue-inspector#--configuration-ide--editor
# ## Change in .envrc.local to editor of your choice
export VUE_EDITOR="${VUE_EDITOR:-webstorm}"
export LAUNCH_EDITOR=$VUE_EDITOR

# ## For E2E Tests
export TEST_APP_EMAIL_DEV="${TEST_APP_EMAIL_DEV:-demo@crisiscleanup.org}"
export TEST_APP_PASSWORD_DEV="${TEST_APP_PASSWORD_DEV:-}"
export TEST_APP_ADMIN_EMAIL_DEV="${TEST_APP_ADMIN_EMAIL_DEV:-admindemo@crisiscleanup.org}"
export TEST_APP_ADMIN_PASSWORD_DEV="${TEST_APP_ADMIN_PASSWORD_DEV:-}"

export TEST_APP_EMAIL_PROD="${TEST_APP_EMAIL_PROD:-}"
export TEST_APP_PASSWORD_PROD="${TEST_APP_PASSWORD_PROD:-}"
export TEST_APP_ADMIN_EMAIL_PROD="${TEST_APP_ADMIN_EMAIL_PROD:-}"
export TEST_APP_ADMIN_PASSWORD_PROD="${TEST_APP_ADMIN_PASSWORD_PROD:-}"

export TEST_APP_EMAIL_STAGING="${TEST_APP_EMAIL_STAGING:-$TEST_APP_EMAIL_PROD}"
export TEST_APP_PASSWORD_STAGING="${TEST_APP_PASSWORD_STAGING:-$TEST_APP_PASSWORD_PROD}"
export TEST_APP_ADMIN_EMAIL_STAGING="${TEST_APP_ADMIN_EMAIL_STAGING:-$TEST_APP_ADMIN_EMAIL_PROD}"
export TEST_APP_ADMIN_PASSWORD_STAGING="${TEST_APP_ADMIN_PASSWORD_STAGING:-$TEST_APP_ADMIN_PASSWORD_PROD}"

export TEST_APP_EMAIL="${TEST_APP_EMAIL:-$TEST_APP_EMAIL_DEV}"
export TEST_APP_PASSWORD="${TEST_APP_PASSWORD:-$TEST_APP_PASSWORD_DEV}"
