#!/usr/bin/env bash

# Team Shared direnv.
# see:  https://github.com/direnv/direnv

# Enforces `set -euo pipefail` despite user local config.
strict_env

# forces "at least"
direnv_version 2.32.1

# User local additions.
source_env_if_exists .envrc.local

# Load asdf
if has asdf; then
	use asdf
else
	log_error "ASDF is cool; you should get it fool."
	log_error "See: https://docs.arroyodev.com/setups/setup-asdf-direnv/"
fi

layout node

# Docker
export COMPOSE_DOCKER_CLI_BUILD=1
export DOCKER_BUILDKIT=1

# Misc

## Required for https://github.com/webfansplz/vite-plugin-vue-inspector#--configuration-ide--editor
## Change in .envrc.local to editor of your choice
export VUE_EDITOR=${VUE_EDITOR:-webstorm}

